.page--register--container {
  display: flex;
  justify-content: center;
}

.page--register {
  background-color: white;
  border-radius: 10px;
  height: 750px;
  width: 500px;
  text-align: center;
  line-height: 64px;
}
.redirect:hover {
  color: green;
  cursor: pointer;
}

.login {
  background-color: green !important;
}

.redirect {
  color: black;
}
