.contact {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    opacity: 1;
}

.contact p {
    padding: 0;
    margin: 0;
}

.contact h1 {
    text-align: center;
}

.info {
    width: 45%;
    display: inline-block;
}

.contact--form {
    width: 50%;
    display: inline-block;
}

.messageInput {
    width: 75%;
    height: 200px;
}