.wrapper--home {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.image--bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.image--logo {
  opacity: 100;
}
