.button--plusminus * {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    display: inline-block;
    width: 10%;
}

.minus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.minus:hover {
    cursor: pointer;
}

.plus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.plus:hover {
    cursor: pointer;
}

.counter {
    border-radius: 0;
}
