.tickets {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
}

.tickets * {
  text-align: center;
}

.ticket-container {
  margin-bottom: 2rem;
}
